body {
  font-family: "Montserrat", sans-serif;
}
.main-header {
  width: 100%;
  background-color: rgba(21, 93, 60, 0.654);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 1px 10px;
  font-family: "Aboreto", cursive;
}

.logo {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.main-header ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.main-header li {
  list-style: none;
  font-size: 20px;
  font-weight: 300;
  color: rgb(112, 112, 112);
  border: 2px solid rgba(245, 245, 245, 0.498);
  border-radius: 30px;
  padding: 10px;
}
.main-header li,
a {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 15pt;
  text-decoration: none;
  color: aliceblue;
}
/* home */
.banner {
  background-image: url(../img/brasil.jpg);
  background-color: rgb(233, 233, 233);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 550px;
}
/*cards*/
#curiosidades {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#curiosidades p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}

.cards-cidades {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 450px;
  transition: all 0.3s ease-out;
  display: inline-block;
  flex-direction: row;
}

.cards-cidades img {
  width: 400px;

  align-items: center;
  justify-content: space-between;
  display: inline-block;
}

.cards-cidades h2 {
}
