* {
  padding: 0;
  margin: 0;
}

.main-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1280px;
  background-color: #0ecc9d;
  font-family: "Aboreto", cursive;
  color: aliceblue;
  font-size: 25pt;
}

.logo {
  width: 100px;
  display: flex;
  padding: 20;
}

.main-header li, a {
  display: inline-flex;
  align-items: flex-end;
  font-size: 15pt;
  text-decoration: none;
  color: aliceblue;
}

.cards-cidades {
  display: inline-flex;
  box-sizing: content-box;
  border: 10px solid, color white;
  padding: 10px;
}
